Repository adityakmr7/react-native-heroui: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test-lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    test-lint:
      glob: "**/__tests__/**/*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor: to components and theme
  example/package.json
  example/src/App.tsx
  example/src/navigation.tsx
  example/src/screens/ComponentDetailScreen.tsx
  example/src/screens/ComponentsListScreen.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/ThemeScreen.tsx
  package-lock.json
  yarn.lock
Due: lint

feat: refactor to themes and component
  eslint.config.mjs
  example/src/navigation.tsx
  example/src/screens/ComponentDetailScreen.tsx
  example/src/screens/ComponentsListScreen.tsx
  example/src/screens/components/AccordionScreen.tsx
  example/src/screens/components/AlertScreen.tsx
  example/src/screens/components/AvatarScreen.tsx
  example/src/screens/components/BadgeScreen.tsx
  example/src/screens/components/BottomSheetScreen.tsx
  example/src/screens/components/ButtonScreen.tsx
  example/src/screens/components/CardScreen.tsx
  example/src/screens/components/CheckboxScreen.tsx
  example/src/screens/components/ChipScreen.tsx
  example/src/screens/components/DividerScreen.tsx
  example/src/screens/components/DrawerScreen.tsx
  example/src/screens/components/ImageScreen.tsx
  example/src/screens/components/InputOtpScreen.tsx
  example/src/screens/components/InputScreen.tsx
  example/src/screens/components/ModalScreen.tsx
  example/src/screens/components/ProgressScreen.tsx
  example/src/screens/components/RadioScreen.tsx
  example/src/screens/components/SelectScreen.tsx
  example/src/screens/components/SkeletonScreen.tsx
  example/src/screens/components/SliderScreen.tsx
  example/src/screens/components/SpacerScreen.tsx
  example/src/screens/components/SpinnerScreen.tsx
  example/src/screens/components/SwitchScreen.tsx
  example/src/screens/components/TabsScreen.tsx
  example/src/screens/components/TextareaScreen.tsx
  example/src/screens/components/ToastScreen.tsx
  example/src/screens/components/TooltipScreen.tsx
  example/src/screens/components/index.ts
  yarn.lock
Due: lint, types

chore: updated accrodion and text
  eslint.config.mjs
  example/src/screens/ComponentDetailScreen.tsx
  example/src/screens/components/AccordionScreen.tsx
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/Accordion.types.ts
  src/components/Text/Text.tsx
  src/index.tsx
  src/variants/text.ts
Due: lint, types

fix: slider
  example/package.json
  src/components/Slider/Slider.tsx
  yarn.lock
Due: lint

chore: updated version
  package.json
Due: none
